*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Grid System*/
.container,
.container-fluid{
 
  width: 100%;
  padding-left: 1rem;
  padding-right:1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px){.container{max-width: 576px; } }

@media screen and (min-width: 768px){.container{max-width: 768px; } }

@media screen and (min-width: 992px){.container{max-width: 992px; } }

@media screen and (min-width: 1200px){.container{max-width: 1200px; } }


.row{
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

}

.col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7, .col-8,.col-9, .col-10, .col-11, .col-12,.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4,.col-md-5, .col-md-6, .col-md-7, .col-md-8,.col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4,.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12

{
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1{
  
  flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
  max-width: calc(100% / 12);
}

.col-2{
  flex: 0 0 calc((100% / 12)*2); 
  max-width:calc((100% / 12)*2);
}

.col-3{
  flex: 0 0 calc((100% / 12)*3); 
  max-width:calc((100% / 12)*3);
}

.col-4{
  flex: 0 0 calc((100% / 12)*4); 
  max-width:calc((100% / 12)*4);
}

.col-5{
  flex: 0 0 calc((100% / 12)*5); 
  max-width:calc((100% / 12)*5);
}

.col-6{
  flex: 0 0 calc((100% / 12)*6); 
  max-width:calc((100% / 12)*6);
}

.col-7{
  flex: 0 0 calc((100% / 12)*7); 
  max-width:calc((100% / 12)*7);
}

.col-8{
  flex: 0 0 calc((100% / 12)*8); 
  max-width:calc((100% / 12)*8);
}

.col-9{
  flex: 0 0 calc((100% / 12)*9); 
  max-width:calc((100% / 12)*9);
}

.col-10{
  flex: 0 0 calc((100% / 12)*10); 
  max-width:calc((100% / 12)*10);
}

.col-11{
  flex: 0 0 calc((100% / 12)*11); 
  max-width:calc((100% / 12)*11);
}

.col-12{
  flex: 0 0 calc((100% / 12)*12); 
  max-width:calc((100% / 12)*12);
}

/* Extra small */

.col-xs-1{
  
  flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
  max-width: calc(100% / 12);
}

.col-xs-2{
  flex: 0 0 calc((100% / 12)*2); 
  max-width:calc((100% / 12)*2);
}

.col-xs-3{
  flex: 0 0 calc((100% / 12)*3); 
  max-width:calc((100% / 12)*3);
}

.col-xs-4{
  flex: 0 0 calc((100% / 12)*4); 
  max-width:calc((100% / 12)*4);
}

.col-xs-5{
  flex: 0 0 calc((100% / 12)*5); 
  max-width:calc((100% / 12)*5);
}

.col-xs-6{
  flex: 0 0 calc((100% / 12)*6); 
  max-width:calc((100% / 12)*6);
}

.col-xs-7{
  flex: 0 0 calc((100% / 12)*7); 
  max-width:calc((100% / 12)*7);
}

.col-xs-8{
  flex: 0 0 calc((100% / 12)*8); 
  max-width:calc((100% / 12)*8);
}

.col-xs-9{
  flex: 0 0 calc((100% / 12)*9); 
  max-width:calc((100% / 12)*9);
}

.col-xs-10{
  flex: 0 0 calc((100% / 12)*10); 
  max-width:calc((100% / 12)*10);
}

.col-xs-11{
  flex: 0 0 calc((100% / 12)*11); 
  max-width:calc((100% / 12)*11);
}

.col-xs-12{
  flex: 0 0 calc((100% / 12)*12); 
  max-width:calc((100% / 12)*12);
}

/* small styles */
@media screen and (min-width: 576px){
  .col-sm-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-sm-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-sm-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-sm-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-sm-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-sm-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-sm-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-sm-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-sm-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-sm-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-sm-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-sm-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}
/*Medium Styles*/

@media screen and (min-width: 768px){
  .col-md-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-md-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-md-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-md-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-md-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-md-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-md-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-md-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-md-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-md-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-md-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-md-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}


/* large styles*/
@media screen and (min-width: 992px){
  .col-lg-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-lg-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-lg-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-lg-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-lg-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-lg-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-lg-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-lg-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-lg-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-lg-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-lg-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-lg-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}

/*X-Large styles*/
@media screen and (min-width: 1200px){
  .col-xl-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-xl-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-xl-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-xl-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-xl-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-xl-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-xl-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-xl-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-xl-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-xl-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-xl-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-xl-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}

/*End of Grid System*/

/*Color Pallete*/
/*
#FAB386 20
#F59557 30
#ED7C30 40
#E46913 50
#D75A00 60
#C75700 70
#B35100 80
#9E4A00 90
#874100 100
/*End of Color Pallete*/
/*nav start*/
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color:#000;

}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
 display: inline-block;
 list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
  color: white;
}

a{
  text-decoration: none;
  color: #fafafa;
}

nav a:hover{
  color:#ED7C30;
}

nav ul li:hover{
  color:#ED7C30;
}

.logo img{
 margin:-20px;

}
/*nav end*/


/*card content*/
.cards{ 
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(225px, 1fr));
    gap: 20px;
    font-family: sans-serif;
    margin-bottom: 200px;
}

.card{
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.card__image{ 
  width: 100%;
  display: block;
}

.card__content{
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background:#fafafa;
}

.card__content > p:first-of-type{
  margin-top: 0;
}

.card__content > p:last-of-type{
  margin-bottom: 0;
}


.card__info{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #cccccc;
  color: #555;
}

.card__link{
  color: #ED7C30;
  text-decoration: none;
}

.card__link:hover{
  text-decoration: underline;
}
/*End of card content*/


/*Start Home main-content*/

.main-content h1{
  font-size: 75px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content p{
  font-size: 22px;
  padding: 10px;
  margin-bottom: 75px;
}

/*End Home main-content*/


/*StartFooter*/
footer{
  background-color:black;
}

.footerbar ul {
  display: flex;
  align-items: center;
  flex: end;
  align-content: end;

}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
  margin-right: 50px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #fafafa;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
}

.social-media a:hover{
  color: #ED7C30;
}

.right-col h1{
  font-size: 40px;
  color: #D75A00;
}

.border{
  width: 100px;
  height: 4px;
  color:#fafafa;
}

.border p{
  color:#fafafa;
}

.newletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 25px;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #fafafa;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

/*End of Footer*/