*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, :before, :after{
    box-sizing: border-box;
    position: relative;

}

/*Grid System*/
.container,
.container-fluid{
 
  width: 100%;
  padding-left: 1rem;
  padding-right:1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px){.container{max-width: 576px; } }

@media screen and (min-width: 768px){.container{max-width: 768px; } }

@media screen and (min-width: 992px){.container{max-width: 992px; } }

@media screen and (min-width: 1200px){.container{max-width: 1200px; } }


.row{
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

}

.col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7, .col-8,.col-9, .col-10, .col-11, .col-12,.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4,.col-md-5, .col-md-6, .col-md-7, .col-md-8,.col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4,.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12

{
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1{
  
  flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
  max-width: calc(100% / 12);
}

.col-2{
  flex: 0 0 calc((100% / 12)*2); 
  max-width:calc((100% / 12)*2);
}

.col-3{
  flex: 0 0 calc((100% / 12)*3); 
  max-width:calc((100% / 12)*3);
}

.col-4{
  flex: 0 0 calc((100% / 12)*4); 
  max-width:calc((100% / 12)*4);
}

.col-5{
  flex: 0 0 calc((100% / 12)*5); 
  max-width:calc((100% / 12)*5);
}

.col-6{
  flex: 0 0 calc((100% / 12)*6); 
  max-width:calc((100% / 12)*6);
}

.col-7{
  flex: 0 0 calc((100% / 12)*7); 
  max-width:calc((100% / 12)*7);
}

.col-8{
  flex: 0 0 calc((100% / 12)*8); 
  max-width:calc((100% / 12)*8);
}

.col-9{
  flex: 0 0 calc((100% / 12)*9); 
  max-width:calc((100% / 12)*9);
}

.col-10{
  flex: 0 0 calc((100% / 12)*10); 
  max-width:calc((100% / 12)*10);
}

.col-11{
  flex: 0 0 calc((100% / 12)*11); 
  max-width:calc((100% / 12)*11);
}

.col-12{
  flex: 0 0 calc((100% / 12)*12); 
  max-width:calc((100% / 12)*12);
}

/* Extra small */

.col-xs-1{
  
  flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
  max-width: calc(100% / 12);
}

.col-xs-2{
  flex: 0 0 calc((100% / 12)*2); 
  max-width:calc((100% / 12)*2);
}

.col-xs-3{
  flex: 0 0 calc((100% / 12)*3); 
  max-width:calc((100% / 12)*3);
}

.col-xs-4{
  flex: 0 0 calc((100% / 12)*4); 
  max-width:calc((100% / 12)*4);
}

.col-xs-5{
  flex: 0 0 calc((100% / 12)*5); 
  max-width:calc((100% / 12)*5);
}

.col-xs-6{
  flex: 0 0 calc((100% / 12)*6); 
  max-width:calc((100% / 12)*6);
}

.col-xs-7{
  flex: 0 0 calc((100% / 12)*7); 
  max-width:calc((100% / 12)*7);
}

.col-xs-8{
  flex: 0 0 calc((100% / 12)*8); 
  max-width:calc((100% / 12)*8);
}

.col-xs-9{
  flex: 0 0 calc((100% / 12)*9); 
  max-width:calc((100% / 12)*9);
}

.col-xs-10{
  flex: 0 0 calc((100% / 12)*10); 
  max-width:calc((100% / 12)*10);
}

.col-xs-11{
  flex: 0 0 calc((100% / 12)*11); 
  max-width:calc((100% / 12)*11);
}

.col-xs-12{
  flex: 0 0 calc((100% / 12)*12); 
  max-width:calc((100% / 12)*12);
}

/* small styles */
@media screen and (min-width: 576px){
  .col-sm-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-sm-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-sm-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-sm-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-sm-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-sm-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-sm-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-sm-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-sm-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-sm-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-sm-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-sm-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}
/*Medium Styles*/

@media screen and (min-width: 768px){
  .col-md-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-md-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-md-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-md-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-md-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-md-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-md-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-md-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-md-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-md-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-md-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-md-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}


/* large styles*/
@media screen and (min-width: 992px){
  .col-lg-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-lg-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-lg-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-lg-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-lg-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-lg-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-lg-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-lg-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-lg-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-lg-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-lg-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-lg-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}

/*X-Large styles*/
@media screen and (min-width: 1200px){
  .col-xl-1{
  
    flex: 0 0 calc(100% / 12); /* 100/12=8.333% */
    max-width: calc(100% / 12);
  }

  .col-xl-2{
    flex: 0 0 calc((100% / 12)*2); 
    max-width:calc((100% / 12)*2);
  }

  .col-xl-3{
    flex: 0 0 calc((100% / 12)*3); 
    max-width:calc((100% / 12)*3);
  }

  .col-xl-4{
    flex: 0 0 calc((100% / 12)*4); 
    max-width:calc((100% / 12)*4);
  }

  .col-xl-5{
    flex: 0 0 calc((100% / 12)*5); 
    max-width:calc((100% / 12)*5);
  }

  .col-xl-6{
    flex: 0 0 calc((100% / 12)*6); 
    max-width:calc((100% / 12)*6);
  }

  .col-xl-7{
    flex: 0 0 calc((100% / 12)*7); 
    max-width:calc((100% / 12)*7);
  }

  .col-xl-8{
    flex: 0 0 calc((100% / 12)*8); 
    max-width:calc((100% / 12)*8);
  }

  .col-xl-9{
    flex: 0 0 calc((100% / 12)*9); 
    max-width:calc((100% / 12)*9);
  }

  .col-xl-10{
    flex: 0 0 calc((100% / 12)*10); 
    max-width:calc((100% / 12)*10);
  }

  .col-xl-11{
    flex: 0 0 calc((100% / 12)*11); 
    max-width:calc((100% / 12)*11);
  }

  .col-xl-12{
    flex: 0 0 calc((100% / 12)*12); 
    max-width:calc((100% / 12)*12);
  }
}

/*End of Grid System*/

/*nav start*/
header {
  padding: 1rem;
  margin-bottom: 2.618rem;
  background-color: black;

}

nav{
  flex: 1;
  text-align: match-parent; 
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  color: #efefef;
}



nav ul{
  display: inline-block;
  list-style-type: none;
 }
 
 nav ul li{
   margin-right: 20px;
   color: white;
 }

.navbar-toggler {

  border: 0 none;
  background-color:#FF4E00;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  flex: 0 0 2rem;
  max-width: 2rem;
  font-size: 1rem;
  line-height: 1em; 
  cursor: pointer;
}

.navbar {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}
.navbar.open {
  display: list-item;
}

a{
  text-decoration: none;
  color: #fafafa;
  position: relative;
}

.navbar a:link,
.navbar a:active,
.navbar a:hover,
.navbar a:visited {
    display: block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.navbar .dropdown > a:after {
    content: "\f0d7"; 
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: absolute;
    right: 0;
}

.navbar .dropdown.open > a:after {
    content: "\f0d8";
}

.navbar .dropdown ul {
    display: none;
}

.navbar .dropdown.open ul {
    display: block;
}

a:hover {
  color: #FF4E00;
}

.navbar .dropdown ul a:link,
.navbar .dropdown ul a:active,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul a:visited {
    background-color:#FF4E00;
    color: #ffffff;
}

.navbar .dropdown ul a:hover {
    background-color: darkorange;
}

@media screen and (min-width: 768px){
    .navbar-brand {
        flex: 0 0 180px;
        max-width: 180px;
    }

    .navbar-toggler {
        display: none;
    }
    .navbar {
        display: block;
        flex: 0 1 calc(100% - 220px);
        max-width:  0 1 calc(100% - 220px);
        text-align: right;
    }

    .navbar > li {
        display: inline-block;
    }

    .navbar .dropdown ul {
        position: absolute;
        z-index: 1;
        width: 200px;
        text-align: left;
    }
}
.navbar,
.navbar ul,
.navbar li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo img{
 margin:-20px;

}
/*nav end*/


/*card content*/ 

.cards{ 
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(225px, 1fr));
    gap: 20px;
    font-family: sans-serif;
    margin-bottom: 200px;
}

.card{
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.card__image{ 
  width: 100%;
  display: block;
}

.card__content{
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background:#fafafa;
}

.card__content > p:first-of-type{
  margin-top: 0;
}

.card__content > p:last-of-type{
  margin-bottom: 0;
}


.card__info{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #cccccc;
  color: #555;
}

.card__link{
  color: #FF4E00;
  text-decoration: none;
}

.card__link:hover{
  text-decoration: underline;
}
/*End of card content*/


/*Start Home main-content*/

.main-content h1{
  font-size: 75px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content p{
  font-size: 22px;
  padding: 10px;
  margin-bottom: 75px;
}

.product-head-1{
  margin-left:80px;
  margin-bottom: 25px;
  margin-top: 40px;
}

.product-head{
  margin-left:80px;
  margin-top: -75px;
}

.product-head-1 a {
  text-decoration: underline;
}

.product-head a {
  text-decoration: underline;
}


/*End Home main-content*/

  /* Contact */

form {
  margin-bottom: 2.618rem;
  margin-left: 2.618rem;
}

fieldset {
  margin: 0;
  margin-bottom: 1.618rem;
  padding: 0.5rem 1rem 1rem;
}

fieldset legend {
  color: #FF4E00;
  font-weight: 700;
  font-family: sans-serif;
}

fieldset p, 
fieldset h3 {
  margin: 0;
  padding-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.form.group .form-control {
  flex: 0 0 100%;
  min-width: 1rem;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  padding: 0.25rem 0;
  border-radius: 0;
  border: 0 none;
  border-bottom: 0.5px solid black;

}

.btn,
a.btn:link,
a.btn:active,
a.btn:hover,
a.btn:visited {
    display: inline-block;
    overflow: hidden;
    padding: 0.375rem 0.75rem;
    background-color: #FF4E00;
    color: #efefef;

}

  .contact a{
    color:  #FF4E00;
    margin-right: 25px;
    font-size: 18px;
    text-decoration: none;
  }

  .contact a:hover{
    color: #FF4E00
  }

  /* End Contact */


/*Start About Us*/

.aboutinfo{ 
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-rows: auto;
  font-family: sans-serif;
  margin-bottom: 200px;
  gap: 20px;
}

.about {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background:#fafafa;
}

.about ul {
  padding-left: 10px;
}

/*End About Us*/

/*StartFooter*/
footer{
  background-color:black;
}

.footerbar ul {
  display: flex;
  align-items: center;
  flex: end;
  align-content: end;

}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
  margin-right: 50px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #fafafa;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
}

.social-media a:hover{
  color: #FF4E00;
}

.right-col h1{
  font-size: 40px;
  color: #FF4E00;
}

.border{
  width: 100px;
  height: 4px;
  color:#fafafa;
}

.border p{
  color:#fafafa;
}

.newletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 25px;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #fafafa;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

h1{
  color: #FF4E00;
  margin-left: 1em;
}

/*End of Footer*/
